@use '../variables' as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      padding: 10px;
      font-family: Arial;
      font-weight: 700;
      font-size: 14px;
    }
  }

  span {
    padding-left: 10px;
  }
}

.right-nav  {
  > ul {
    > li {
      padding: 5px;
      
      > button{
        background-color: #6c89a4;
        border: none;
        color: white;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 5px;
        
      }
    }

    > li:last-of-type {
      > button{
        color: black;
        border-radius: 2px;
        background-color: inherit;
      }
    }
  }
  
  i {
    font_size: 10px
  }
}

.right-nav > ul > li > button:hover {
  background-color: blue;
  border: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.left-nav > ul > li:hover,
.right-nav > ul > button:last-of-type:hover {
  background-color: $lightest-gray;
  border-radius: 5px;
  color: black;
}

    