.section-nav ul {
    display: flex;
    justify-content: center;
}

.section-nav li {
    margin: 10px;
}

.section-nav {
    white-space: nowrap;
    border-bottom: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}

.section-nav li:hover {
    background-color: lightgrey;
    border-radius: 3px;
}

#all-link {
    text-decoration: underline;
}